package $controllerPackage;

import com.mybatisflex.core.paginate.Page;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.beans.factory.annotation.Autowired;
import ${interfacePackage}.I${className}Service;
import org.springframework.web.bind.annotation.RestController;
import java.io.Serializable;
import java.util.List;

/**
* $tableComment 控制层。
*
* @author $author
* @since  $since
*/
@RestController
@RequestMapping("/$requestPath")
public class ${className}Controller{

    @Autowired
    private I${className}Service ${requestPath}Service;

    /**
    * 添加 $tableComment
    *
    * @param $className $tableComment
    * @return {@code true} 添加成功，{@code false} 添加失败
    */
    @PostMapping("/save")
    public boolean save(@RequestBody $className  $requestPath) {
        return ${requestPath}Service.save($requestPath);
    }

    /**
    * 根据主键删除$tableComment
    *
    * @param id 主键
    * @return {@code true} 删除成功，{@code false} 删除失败
    */
    @DeleteMapping("/remove/{id}")
    public boolean remove(@PathVariable Serializable id) {
        return ${requestPath}Service.removeById(id);
    }

    /**
    * 根据主键更新$tableComment
    *
    * @param $requestPath $tableComment
    * @return {@code true} 更新成功，{@code false} 更新失败
    */
    @PutMapping("/update")
    public boolean update(@RequestBody $className $requestPath ) {
        return ${requestPath}Service.updateById($requestPath);
    }

    /**
    * 查询所有$tableComment
    *
    * @return 所有数据
    */
    @GetMapping("/list")
    public List<$className> list() {
        return ${requestPath}Service.list();
    }

    /**
    * 根据${tableComment}主键获取详细信息。
    *
    * @param id ${requestPath}主键
    * @return ${tableComment}详情
    */
    @GetMapping("/getInfo/{id}")
    public $className getInfo(@PathVariable Serializable id) {
        return ${requestPath}Service.getById(id);
    }

    /**
    * 分页查询${tableComment}
    *
    * @param page 分页对象
    * @return 分页对象
    */
    @GetMapping("/page")
    public Page<$className> page(Page<$className> page) {
        return ${requestPath}Service.page(page);
    }

}