package $mapperPackage;

import ${modelPackage}.${className}Entity;
import com.mybatisflex.core.BaseMapper;
/**
 * $tableComment 映射层。
 *
 * @author $author
 * @since $since
 */
public interface ${className}Mapper extends BaseMapper<${className}Entity> {


}
