package $config.mapperPackage;

import ${config.modelPackage}.${modelName};
import com.mybatisflex.core.BaseMapper;
/**
 * $!table.comment 映射层。
 *
 * @author $author
 * @since $since
 */
public interface ${mapperName} extends BaseMapper<${modelName}> {


}
