package $config.mapperPackage;

#if($config.modelPackage.length() > 0)
import ${config.modelPackage}.${modelName};
#end
import com.mybatisflex.core.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * $!table.comment 映射层。
 *
 * @author $author
 * @since $since
 */
@Mapper
public interface ${mapperName} extends BaseMapper<${modelName}> {


}
