package $interfacePackage;

import ${config.modelPackage}.${className}Entity;
import com.mybatisflex.core.service.IService;

/**
 * $table.comment 服务层。
 *
 * @author $author
 * @since $since
 */
public interface ${interfaceName} extends IService<${modelName}>{

}